/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap'); */
@import './components/index.css';
@import './template/index.css';
@import './vendors/index.css';
@import './tailwind/index.css';

/* Fondo del page-container SOLO en modo claro */
html:not(.dark) .page-container {
    background-color: #f5f7f8;
    /* cambia este color si quieres */
}